- cache ['index',@areas,@update.updated_at] do
  .container
    .row
      - @areas.each do |area|
        .col-sm-12.col-md-6.col-lg-4
          .panel.panel-default
            .panel-heading
              .panel-title= area.name
            .panel-body
              .map
                = render partial: area.map_name.downcase
              .text-center= "#{t('updated-at')} #{@update.updated_at.strftime('%d/%m/%Y %H:%M %Z')}"
            %ul.list_group
              %li.list-group-item
                = t('disconnected')
                %span.badge.text-right= area.segments.drivable.disconnected.count
              %li.list-group-item
                =t('wrong-lock')
                %span.badge= area.segments.wrong_lock.count
              %li.list-group-item
                =t('unverified-speed')
                %span.badge= area.segments.important.unverified_speed.count
              %li.list-group-item
                =t('roads-no-speed')
                %span.badge= area.segments.without_speed.count
              %li.list-group-item
                =t('exaggerated-elevations')
                %span.badge= area.segments.where('level < -3 or level > 3').count
              %li.list-group-item
                =t('unnamed-segments')
                %span.badge= area.segments.no_name.count
