- cache ['index',@areas,@update] do
  .container
    .row
      - @areas.each do |area|
        .col-sm-12.col-md-6.col-lg-4
          .panel.panel-default
            .panel-heading
              .panel-title= area.name
            .panel-body
              .text-right= "#{t('updated-at')} #{area.updates.updated_at.strftime('%d/%m/%Y %H:%M %Z')}"
            %ul.list-group
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}= t('disconnected')
                %span.badge.text-right= area.segments.drivable.disconnected.count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('wrong-lock')
                %span.badge= area.segments.wrong_lock.count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('unverified-speed')
                %span.badge= area.segments.important.unverified_speed.count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('roads-no-speed')
                %span.badge= area.segments.without_speed.count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('exaggerated-elevations')
                %span.badge= area.segments.where('level < -3 or level > 3').count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('unnamed-segments')
                %span.badge= area.segments.no_name.count
              %li.list-group-item
                %a{:href => "/segments_area/#{area.id}"}=t('roads-blank-name')
                %span.badge= area.segments.roads.without_name.count
