- cache [@area.class.to_s,@area.id,@area.updates.updated_at,@editor_level,@wme_url] do
  .page-header
    %h3
      = @area.name
      - if @area.class.to_s == 'Area' and false
        %small.dropdown
          %button.btn.btn-default.dropdown-toggle{'type' => "button", 'id' => "dropdownCities", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "true"}
            Powiat
            %span.caret
          %ul.dropdown-menu{ 'aria-labelledby' => "dropdownCities"}
            - @area.cities.order(:name).each do |c|
              %li
                %a{:href => "/segments/#{c.gid}"}= c.name
      %small= "#{t('updated-at')} #{ @area.updates.updated_at.strftime('%d/%m/%Y %H:%M %Z')}"
    - if @editor_level < 6
      .text-right
        = "#{t('filter-warning-1')} #{@editor_level} #{t('filter-warning-2')}"
        %a.small{:href => '/options'}= t('options-change')
  #accordion.panel-group{:role => "tablist", 'aria-multiselecttable' => "true"}
    - if @area.segments.lock_level(@editor_level).drivable.disconnected.size > 0
      .panel.panel-default
        #disconnected.panel-heading{:role => "tab"}
          %h4.panel-title 
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#disconnected-body", 'aria-expanded' => "true", 'aria-controls' => "disconnected-body"} 
              =t('disconnected')
              %small= t('disconnected-small')
              %span.badge= @area.segments.lock_level(@editor_level).drivable.disconnected.size
        #disconnected-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "disconnected"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th.text-center{:width => "100", 'data-toggle' => "tooltip", 'data-placement' => "top", :title => t('density-description')}= t('density')
                %th= t('segment-location')
                %th= t('roadtype')
            %tbody  
              - @area.segments.lock_level(@editor_level).drivable.disconnected.order('dc_density desc').each do |segment|
                %tr
                  %td.text-center= segment.dc_density
                  %td
                    %a{:href => "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", :target => 'WME'}= "#{((segment.street_id.nil? or segment.street.nil? ) ? t('unnamed') : ((segment.street.name.nil? or segment.street.isempty) ? t('no-street') : segment.street.name.to_s) + ', ' + (segment.street.city_id.nil? ? t('no-city') : ((segment.street.city.name.nil? or segment.street.city.isempty) ? t('no-city') : segment.street.city.name.to_s)))}"
                  %td= roadtype_name(segment.roadtype)
    - if @area.segments.lock_level(@editor_level).wrong_lock.size > 0
      .panel.panel-default
        #lock.panel-heading{:role => "tab"}
          %h4.panel-title 
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#lock-body", 'aria-expanded' => "true", 'aria-controls' => "lock-body"} 
              =t('wrong-lock')
              %span.badge= @area.segments.lock_level(@editor_level).wrong_lock.size
        #lock-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "lock"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th=t('segment-location')
                %th=t('roadtype')
                %th=t('lock')
            %tbody  
              - @area.segments.lock_level(@editor_level).wrong_lock.order('roadtype desc').limit(10000).each do |segment|
                %tr
                  %td
                    %a{:href => "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", :target => 'WME'}= "#{((segment.street_id.nil? or segment.street.nil? ) ? t('unnamed') : ((segment.street.name.nil? or segment.street.isempty) ? t('no-street') : segment.street.name.to_s) + ', ' + (segment.street.city_id.nil? ? t('no-city') : ((segment.street.city.name.nil? or segment.street.city.isempty) ? t('no-city') : segment.street.city.name.to_s)))}"
                  %td= roadtype_name(segment.roadtype)
                  %td= segment.lock
    - if @area.segments.lock_level(@editor_level).important.unverified_speed.size > 0
      .panel.panel-default
        #unverified.panel-heading{:role => "tab"}
          %h4.panel-title 
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#unverified-body", 'aria-expanded' => "true", 'aria-controls' => "unverified-body"} 
              =t('unverified-speed')
              %span.badge= @area.segments.lock_level(@editor_level).important.unverified_speed.size
        #unverified-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "unverified"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th=t('segment-location')
                %th=t('roadtype')
                %th=t('speed-ab')
                %th=t('speed-ba')
            %tbody  
              - @area.segments.lock_level(@editor_level).important.unverified_speed.order('city_id').limit(10000).each do |segment|
                %tr
                  %td
                    %a{:href => "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", :target => 'WME'}= "#{((segment.street_id.nil? or segment.street.nil? ) ? t('unnamed') : ((segment.street.name.nil? or segment.street.isempty) ? t('no-street') : segment.street.name.to_s) + ', ' + (segment.street.city_id.nil? ? t('no-city') : ((segment.street.city.name.nil? or segment.street.city.isempty) ? t('no-city') : segment.street.city.name.to_s)))}"
                  %td= roadtype_name(segment.roadtype)
                  %td.text-center= (segment.fwddirection ? (segment.fwdmaxspeed.nil? ? t('undefined') : segment.fwdmaxspeed ) : '-')
                  %td.text-center= (segment.revdirection ? (segment.revmaxspeed.nil? ? t('undefined') : segment.revmaxspeed ) : '-')
    - if @area.segments.lock_level(@editor_level).without_speed.size > 0
      .panel.panel-default
        #speed.panel-heading{:role => "tab"}
          %h4.panel-title 
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#speed-body", 'aria-expanded' => "true", 'aria-controls' => "speed-body"} 
              =t('roads-no-speed')
              %span.badge= @area.segments.lock_level(@editor_level).without_speed.size
        #speed-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "speed"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th=t('segment-location')
                %th=t('roadtype')
            %tbody  
              - @area.segments.lock_level(@editor_level).without_speed.order('city_id').each do |segment|
                %tr
                  %td
                    %a{:href => "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", :target => 'WME'}= "#{((segment.street_id.nil? or segment.street.nil? ) ? t('unnamed') : ((segment.street.name.nil? or segment.street.isempty) ? t('no-street') : segment.street.name.to_s) + ', ' + (segment.street.city_id.nil? ? t('no-city') : ((segment.street.city.name.nil? or segment.street.city.isempty) ? t('no-city') : segment.street.city.name.to_s)))}"
                  %td= roadtype_name(segment.roadtype)
    - if @area.segments.lock_level(@editor_level).where('level < -3 or level > 3').size > 0
      .panel.panel-default
        #level.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#level-body", 'aria-expanded' => "true", 'aria-controls' => "level-body"} 
              =t('exaggerated-elevations')
              %span.badge= @area.segments.lock_level(@editor_level).where('level < -3 or level > 3').size
        #level-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "level"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th.text-center{:width => '100'}= t('elevation')
                %th= t('segment-location')
                %th= t('roadtype')
            %tbody
              - @area.segments.lock_level(@editor_level).where('level < -3 or level > 3').order("level desc").each do |segment|
                %tr
                  %td.text-center= segment.level
                  %td
                    %a{:href => "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", target: 'WME'}= "#{((segment.street_id.nil? or segment.street.nil? ) ? t('unnamed') : (segment.street.isempty ? t('no-street') : segment.street.name.to_s) + ', ' + (segment.street.city_id.nil? ? t('no-city') : (segment.street.city.isempty ? t('no-city') : segment.street.city.name.to_s)))}"
                  %td= roadtype_name(segment.roadtype)
    - if @area.segments.lock_level(@editor_level).no_name.size > 0
      .panel.panel-default
        #noname.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#noname-body", 'aria-expanded' => "true", 'aria-controls' => "noname-body"} 
              =t('unnamed-segments')
              %span.badge= @area.segments.lock_level(@editor_level).no_name.size
        #noname-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "noname"}
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th.text-center{:width => '100'}= t('id')
                %th= t('roadtype')
                %th= t('last-update')
                %th= t('editor')
            %tbody
              - @area.segments.lock_level(@editor_level).no_name.order("last_edit_on").each do |segment|
                %tr
                  %td
                    %a{href: "#{@wme_url}editor/?zoom=5&lat=#{segment.latitude}&lon=#{segment.longitude}&segments=#{segment.id}", target: 'WME'}= segment.id
                  %td= roadtype_name(segment.roadtype)
                  %td= segment.last_edit_on.strftime('%d/%m/%Y %H:%M')
                  %td= "#{segment.editor.username}(#{segment.editor.rank})"
